<header class="header">
  <div class="container">
    <div class="logo">
      <span class="material-symbols-outlined logo-icon">solar_power</span>
      <h2 class="logo-text">Nextgen Coders</h2>
    </div>

    <!-- Botón Hamburguesa -->
    <button id="menuBtn" class="menu-btn">
      <span class="material-symbols-outlined">menu</span>
    </button>

    <!-- menú -->
    <nav id="navMenu" class="nav">
      <a
        href="../../views/CalculadoraDeConsumoElectrico/CalculadoraDeConsumoElectrico.html"
        >Calculadora</a
      >
      <a href="../../views/Dashboard.html">Dashboard</a>
      <a href="../../views/seccionExplorar.html">Explorar</a>
      <a href="../../views/nuestroEquipo.html">Nuestro equipo</a>
    </nav>
  </div>
</header>
