<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <footer class="bg-gray-100 dark:bg-background-dark/50 mt-auto">
        <div class="mt-auto border-t border-gray-200 dark:border-gray-700/50 h-12 pt-4 text-center max-w-full">
            <p class="text-base font-bold tracking-[-0.015em] text-xs text-gray-800 dark:text-gray-400 ">© 2025 Nextgen Coders. Todos los derechos reservados.</p>
        </div>
    </footer>
  </body>
</html>
